/* <!-- media Queries((((((((((((((((($$$$$$$$$$$$$$$$$$$$$))))))))))))))))) --> */
/* div{
    height:50px;
    width:50px;
    background-color: pink;
}
@media(width:600px){
    div{
        background-color: red;/*hamesa div ka color pink hi rhega.but,jase hi "view-portm" ka size (600*h) ho ga to
         div red ho jayega.*

    }
}
@media(min-width:600px){
    div{
        background-color: green; /*Agar "view-port" ka size >=(600*h) hua to div ka color green ho jayeha*
    }
}

@media(max-width:500px){
    div{
        background-color: yellow; /*Agar "view-port" ka size <=(500*h) hua to div ka color yellow ho jayeha*
    }
}
@media(min-width:200px)and (max-width:300px){
    div{
        background-color: blue;
    }
} */


/* <!-- Transition(((((((((************************))))))))) --> */

/* div{
    height:100px;
    width:100px;
    background-color: aquamarine;
    border:2px solid black;
}

div:hover{
    background-color: red; /*pahle aquamarine rhega but jaise hi karsal ko div-box per le jyege to div-box ka 
    color change(red) ho jayega.*
    color:white;/*font-color white ho jayega jab karsal ko div-box per le jyege to*/
    /*inspect ke view-port me agar style ke :hov ke hover option per click karege to hover me jo bhi implementations 
hui hai vo sabhi  show hongi.*
}
div:active{
    background-color:pink; /*click+hold->on div-box-->show "pink" color*
} */


/* here,w are use transition properties and transiton duration ------------*/
/* div{
    height:100px;
    width:100px;
    background-color: aquamarine;
    border:2px solid black;
    /* transition-property: all;/*apply on all properties*
    transition-duration: 2s; /*apply after 2 second*/
    /* transition-timing-function: steps(5);kitne steps me hover karvana hai step(x) *
    transition-timing-function: ease-in;/*pahle dheere-dheere apply ho rha hai phir suddenly apply ho ja rha hai*
    transition-delay: 1s; sari properties ka transitions change to ho but 1second ke bad se hona start hongi *
    transition:all 2s ease-in 1s;/*transition shorthand*              
    transform:rotate(45deg);
}

div:hover{
    background-color: red; 
    color:white;
    font-size: 20px;/*means hover ke time div-box ka size 20px adjust ho jayega*
}
div:active{
    background-color:pink;
} */

/* Here we see the CSS-Transformation(((((Rotate & Scale properties)))))
div{
    height:100px;
    width:100px;
    background-color: aquamarine;
    border:2px solid black;
    position:absolute;
    top:100px;
    left:100px;        
    transform:rotate(45deg); /*transform properties box ke sath sath box ke ander ke elements per bhi apply hoga *
    transform: rotate(90deg);
    rotate:x 90deg;
    rotate:y 90deg; /*jab ham  x,y axis ko 90 or 270 degree se rotate karege to 2D me visible nhi hoga because ye plane ke pichhe chale jate hai (aur enki height nhi hoti hai)
    but z-axis(outer or inner side to the plane) me har degree per dikhte hai  *
    rotate:z 90deg;
    rotate:x 180deg;
    transform:scale(2);
    transform:scale(2,5);
    transform:scaleX(2.5);
    transition:all 2s ease-in;/*without any delay *


}

div:hover{
    background-color: red; 
    color:white;
    font-size: 20px;/*means hover ke time div-box ka size 20px adjust ho jayega*
    transform:scale(2);/*jaise hi div-box per karsal ko le jayege to div-box ka size 2times increase ho jayega*
    transform:rotate(270deg);
   
}
div:active{
    background-color:pink;
} */


/* Here we see the CSS-Transformation(((((Translate & Skew properties))))) */
/* div{
    height:100px;
    width:100px;
    background-color: aquamarine;
    border:2px solid black;
    position:absolute;
    top:100px;
    left:100px;        
    transition:all 2s ease-in;/*without any delay *


}

div:hover{
    background-color: red; 
    color:white;
    transform:translateX(200px);/*div-box per cursor ko rkhege to hi move karega (+ve)-x-axis ki aor*
    transform:translateX(-4000px);/*div-box per cursor ko rkhege to hi move karega (-ve)-x-axis ki aor*/
    /* $**Agar translate size >screen-size to element screen ke bahar chla jayega**$  *
    transform:translateY(200px);
    transform:translate(100px,150px);
    /* transform:skew(30deg); *
    transform:skew(90deg);
    /* Task-kya kre ki div-box move bhi kre && Rotate bhi kre && size increase bhi ho???*
   
}
div:active{
    background-color:pink;
} */


div{
    height:100px;
    width:100px;
    /* border-radius: 50%;pahle box tha but ab circular ho gya hai  */
    background-color: aquamarine;
    border:2px solid black;
    position:absolute;
    top:100px;
    left:100px;        
    /* animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay:1s;
    animation-iteration-count: 5;hamara Animation 5 times hoga */
    /*Bilinking effect***************************/
    animation-name: colorAnimate;
    animation-duration: 1s;
    /* animation-timing-function: ease-in; */ /*agar ease-in nhi karege to ye automatically hoga*/ 
    animation-delay:0s;
    animation-iteration-count: infinite;
   /*animation-direction: normal;  normal direction means jo hamne keyframe me set kiya hai oo hi rhega aur 
    keyframe ke accordingly animation-direction properties(reverse,alternate) set hogi */
    /* animation-direction: reverse;
    animation-direction: alternate; */
    animation-direction:colorAnimate 2s ease-in 0s infinite normal;



}
/* @keyframes colorAnimate{
    from{background-color:aquamarine;}/*jab suru ho to aquamarine  ho aur last tak jate-jate red ho jaye*
    to {background-color: red;}
} */

/* @keyframes colorAnimate{
    from{left:0px; }
    to {left:200px; }
} */

/* @keyframes colorAnimate{
    from{
        left:0px;
        background-color: yellow; 
    }
    to {
        left:200px; 
        background-color: red; 
        color:white;/*here,we are change the font-color of the text*
    }
} */

@keyframes colorAnimate{
    0%{
        left:0px;
        background-color: yellow; 
    } /*Here, suru me color yellow rhega beech me blue hoga and finally red ho jayega*/
    50%{
        background-color: blue;
    }
    100% {
        left:200px; 
        background-color: red; 
        color:white;/*here,we are change the font-color of the text*/
    }
}

div:hover{

   
}
 