h1{
    color :blue;
}
p{
    color :rgb(233, 101, 167);
}
button{
    color :red;
    background-color:aquamarine;
}
/* body{
    background-color:rgb(90, 118, 48);
} */
/* body{
    background-color:#00ff00;
} */
/* body{
    background-color:#ffff00;
} */
/* color picker - serach on Google
color palette - https://coolors.co/ */
body{
    background:#b5f8fe;
}